@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
/* #6C63FF
#CCCCCC
#2F2E41
#A0616A
#F2F2F2
#3F3D56 */

:root {
    --primary-color: #F2F2F2;
    --secondary-color: #6C63FF;
    --tertiary-color: #3F3D56;
    --quaternary-color: #2F2E41;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    
    color: var(--secondary-color);
    background-image: url("/assets/geometry.jpg");
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    color:white;
}

#banner {
    margin: auto;
    width: 60vw;
    text-align: center;
    height: 20vh;
    color:black;
}




#main-link {
    display: block;
    max-width: 25vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 550;
    cursor: pointer;
    /* margin-bottom: 8vh; */
}

#main-display {
    margin: auto;
    margin-bottom: 2rem;
    width: 60vw;
    text-align: center;
    background-color:diamond;
    padding: 2rem;
    padding-bottom: 4rem;
    border-radius: 20px;
   
}

.link-style {
    display: block;
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    box-sizing: border;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: var(--primary-color);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 550;
    cursor: pointer;
}

.link-back {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top:1rem ;
    margin-bottom:1rem;
    padding: 0.6rem ;
    max-width: 6vw;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: blue;
    color: white;
    height:3vh;
}

.form-style {
    display: flex;
    flex-direction: column;
}

.label-style {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
}

.input-style {
    display: block;
    margin: auto;
    /* width: 55%; */
    max-width: 30vw;
    margin-top: 0.5rem;
    padding: 0.3125rem 0.3125rem;
    background-color: #BBF3F4;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.25rem;
    font-weight: 550;
    /* font-weight: 700; */
    /* color: #00494d; */
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgb(235, 234, 234);
}

::placeholder {
    font-size: 0.95rem;
    font-family: 'Ubuntu Mono', monospace;
    font-style: italic;
    text-align: center;
    color: #929292;
}

.checkBtn-style {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    max-width: 18vw;
    box-shadow: 5px 5px 20px rgb(161, 161, 161);
}

.mainpage-style {
    margin: auto;
    width: 60vw;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    box-shadow: -4px 3px 19px 2px var(--quaternary-color);
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.result-style {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.25rem;
    font-weight: 550;
}

.formQuiz label.question {
    display: block;
}

.radio input {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    display: inline-block;
}

.radio {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 60vw;
    text-align: left;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
   
}

.radio label {
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: inline-block;
    font-weight: 550;
}

.options {
    color: var(--tertiary-color);
}

.submit-button {
    display: block;
    margin: auto;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    max-width: 18vw;
    box-shadow: 5px 5px 20px rgb(204, 203, 203);
}

#scoreDiv {
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.25rem;
    font-weight: 550;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer,
i {
  color: var(--tertiary-color);
  text-align: center;
  font-size: 2.8rem;
  margin-top: 5vh;
  margin-right: 0.6vw;
  margin-left: 0.6vw;
}

.github-repo {
    margin-top: 0;
    padding: 0;
    text-align: center;
}

.github-repo-link {
  color: var(--tertiary-color);
    text-decoration: none;
}

.redirect {
    font-size: 1rem;
}
